@import '../components/aboutCard.scss';

$mobile_width: 768px;

.about{
    margin: 20px auto 0;
    padding: 20px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;

    &-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        &-left{   
            display: flex;
            flex-direction: column;

            .not-desktop{
                display: none;
            }
        }
        &-left,
        &-right{   
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
        }
        
        &-mobile{
            position: fixed;
            display: none;
            left: 15px;
            bottom: 15px;

            &-button{
                margin: 5px;
                padding: 18px 20px;
                background-color: $shadowOfDarkBlue;
                border: 2px solid $shadowOfLightBlue;
                border-radius: 50%;
                color: $shadowOfLightBlue;
                font-size: 18px;
            }
        }

        &-title,
        &-text{
            text-align: center;
            color: $shadowOfLightBlue;
        }
        &-text{
            &-cards{
                display: flex;
                justify-content: space-around;
            }
        }

        img{
            max-width: 100%;
        }
        
        @media (max-width: $mobile_width) {
            &-left{
                width: 100%;
                .not-desktop{
                    display: block;
                }
            }
            &-right{   
                display: none;
            }

            
            &-text{
                &-cards{
                    flex-wrap: wrap;
                }
            }

            &-mobile{
                display: flex;
                flex-direction: column;
            }
        }
    }     

  

    .fadeIn {

        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;	
      
        animation-duration: .5s;	
        -webkit-animation-duration: .5s;
      
        animation-timing-function: ease-in;	
        -webkit-animation-timing-function: ease-in;		
      
        animation-fill-mode:forwards;
        -webkit-animation-fill-mode:forwards;
      
        visibility: visible !important;	
      }
      
      @keyframes fadeIn {
        0% {
          opacity: 0.0;		
        }
      
        100% {
          opacity: 1;	
        }		
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity: 0.0;		
        }
      
        100% {
          opacity: 1;	
        }		
      }      
}